
.vscode/settings.json
.vscode/.ropeproject/config.py
DeletePeriodsInFilenames/.idea/DeletePeriodsInFilenames.iml
DeletePeriodsInFilenames/.idea/misc.xml
DeletePeriodsInFilenames/.idea/modules.xml
DeletePeriodsInFilenames/.idea/vcs.xml
DeletePeriodsInFilenames/.idea/workspace.xml
